body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/endless-constellation-default.svg);
    font-family: "Outfit", sans-serif;
    color: #d6d6d6;
    margin-top: 20px;
    margin-bottom: 20px;
}

#bgContainer {
  position: fixed;
  
  left:0;
  right:0;
  
  background-image: url('images/endless-constellation-default.svg'); /* Replace with your image path */
  background-repeat: repeat; /* This makes the image repeat */
  background-size:auto; /* This ensures the image covers the entire div */
  z-index: -1;
  animation: rotate 50s linear infinite;
  overflow: hidden;
}

@font-face {
    font-family: 'SevenSegment'; /* Choose a name for your font */
    src: url('fonts/seven-segment.woff2') format('woff2'), /* Adjust file name and path */
         url('fonts/seven-segment.woff') format('woff'); /* Include other formats if needed */
}

h6 {
    font-size: 1.2em;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
}

button {
    padding-top: 10px;
    background-color: #d6d6d6;
    color: #000;
    box-shadow: 10px 10px 5px #000;
    width: 55px;
    margin-top: 55px;
    border-radius: 25px;
}


#closeButton{
    position: relative;
    float: right;
    cursor: pointer;
}


#mainView {
    width: 90vw;
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    overflow: hidden;
}
div:not(#mainView):not(#welcomeBG):not(#clock):not(#date):not(#welcome):not(#myPic):not(#headerText):not(#logos) {
    background-color: #141414d2;
}

        div:not(#mainView):not(#headerText):not(#myPic):not(#date):not(#clock):not(#slideshow-container):not(.mySlides):not(.text):not(#closeButton):hover {
            border: solid #ffffff 1px;
            border-radius: 5px;
        }

        .themedBorder:hover {
            border-color: #ffffff !important; 
          }

#welcome{  
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 4;
    z-index: 2;
    background-color: argb(rgba(0, 0, 0, 0));
    border: solid #D6D6D6 1px;
    border-radius: 5px;
    }

    #welcomeBG{  
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 4;
        grid-row-end: 4;
        z-index: 0;
        background-color:  #141414d2;

        }




#headerText{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
    z-index: 1;
    padding: 5px 0 0 5px;
}

#myPic{
    grid-row-start: 1;
    grid-row-end:3;
    grid-column-start: 3;
    grid-column-end: 3;
    overflow: hidden;
    z-index: 1;
}   

    #myPic img{
        width: 90%;
        object-fit: cover;
        object-position: bottom;
        margin-top:35px;
    }

 #logos{
        grid-column-start: 2;
        grid-row-start: 4;
        grid-column-end: 2;
        grid-row-end: 4;
        z-index: 1;
        gap: 25px;
        justify-content:;  
    }

#letsWork{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 1;
    grid-row-end: 8;
    border: solid 1px;
    border-color: #d6d6d6;
    border-radius: 5px;
    padding: 5px 0 0 5px;
}

#aboutMe{
    grid-column-start: 4;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 7;
    border: solid 1px;
    border-color: #d6d6d6;
    border-radius: 5px;
    padding: 5px 0 0 5px;

}

#localTime:not(h6){
    grid-column-start: 2;
    grid-row-start: 4;
    grid-column-end: 2;
    grid-row-end: 7;
    border: solid 1px;
    border-color: #d6d6d6;
    border-radius: 5px;
    padding: 5px 0 0 5px;
    }

#clock {
    font-family: "SevenSegment", sans-serif;
    font-size: 25px;
    color: red;
}

#resume{
    grid-column-start: 2;
    grid-row-start: 7;
    grid-column-end: 2;
    grid-row-end: 8;
    border: solid 1px;
    border-color: #d6d6d6;
    border-radius: 5px;
    padding: 5px 0 0 5px;

}

#myWork{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-column-end: 3;
    grid-row-end: 7;
    border: solid 1px;
    border-color: #d6d6d6;
    border-radius: 5px;
    padding: 5px 0 0 5px;
    background-image: url(images/icon1.png), url(images/icon2.png), url(images/icon3.png), url(images/icon4.png), url(images/icon5.png);
    background-repeat: no-repeat;
    background-position: 5px 30px, 60px 85px, 120px 20px, 180px 80px, 250px 20px;
    background-size: 75px 75px;
}


#playground{
    grid-column-start: 3;
    grid-row-start: 7;
    grid-column-end: 3;
    grid-row-end: 8;
    border: solid 1px;
    border-color: #d6d6d6;
    border-radius: 5px;
    padding: 5px 0 0 5px;

}

#themeSelect{
    grid-column-start: 4;
    grid-row-start: 7;
    grid-column-end: 4;
    grid-row-end: 8;
    border: solid 1px;
    border-color: #d6d6d6;
    border-radius: 5px;
    padding: 5px 0 0 5px;
    display: flex;
    justify-content: center; 
}

#themeSelect svg {
    padding-top: 0px;
    width: 75px;
}



#themeSelect svg circle {
    stroke-width: 1px; /* Adjust the width of the border */
    stroke-dasharray: 100 100; /* Adjust the dash pattern to create the inner border */
  }

#themeSelect svg:hover circle{
    stroke: white;
    stroke-dasharray: 100 0;
}

#slideshow-container {
    display: none;
    position:absolute;
    z-index: 2;
}

.mySlides {
    display: none;
    width: 80vw;
    height: 80vh;
 }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .rotate {
  -webkit-animation: rotate 5s normal linear infinite;
  animation: rotate 5s normal linear infinite;
}

  @keyframes rotate {
    0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

